<div class="row">
  <div class="col-1">
    <h2>PlayStation <br />Game Library</h2>
    <h3>Mount your own game library</h3>

    <a routerLink="/user-library" routerLinkActive="active">
      <button type="button">
        Ver Biblioteca<img
          src="https://github.com/vrdfola/hosted-assets/blob/main/arrow.png?raw=true"
        /></button
    ></a>
  </div>

  <div class="col-2">
    <img
      src="https://github.com/vrdfola/hosted-assets/blob/main/PS5-Controller-PNG-Image.png?raw=true"
      class="controller"
    />

    <div class="color-box"></div>
    <a routerLink="/search" routerLinkActive="active">
      <div class="add-btn flex flex-col">
        <img
          style="border: solid 1px"
          class="border-solid rounded-full"
          src="   https://cdn-icons-png.flaticon.com/512/6973/6973178.png "
        />
        <h2 class="py-10">Search Games</h2>
      </div>
    </a>
  </div>
</div>
